extends layout

block inserts
    script(type="text/javascript" src="js/index.js")

block navbar
    nav(class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse" role="navigation")
        button(class="navbar-toggler navbar-toggler-right" type="button" 
        data-toggle="collapse" aria-expanded="false" 
        aria-label="Toggle navigation" aria-controls="navCollapse" data-target="#navCollapse")
            span(class="navbar-toggler-icon")
        div(class="collapse navbar-collapse" id="navCollapse")
            // hidden-md-down mx-auto
            a(class="navbar-brand ajax-load" href="/")
                img(src="img/logo.png" width=30 alt="")
            ul(class="nav navbar-nav navbar-left mr-auto")
                li(class="nav-item")
                    a(class="nav-link ajax-load" href="#sobre") Sobre o evento
                li(class="nav-item")
                    a(class="nav-link ajax-load" href="inscricao") Inscreva-se
                    
block ajaxbox
    div(class="container-fluid text-center wallpaper")
        div(class="row justify-content-center" id="bemvindo")
            div(class="col align-self-center") Bem-vindo bem top aqui
    
    a(name="sobre")
    div(class="jumbotron jumbotron-fluid section")
        div(class="container")
            h1(class="display-3") Sobre o TMLDI
            p(class="lead") é bem bacana :D
    div(class="container-fluid")
        div(class="row justify-content-center")
            div(class="col col-11"). 
                O TMLDI, ou Treinamento Multidistrital de Líderes Distritais de Interact
                . tem por objetivo capacitar os líderes distritais de Interact do Brasil afora.
