@import "variables";

body {
    font-family: Arvo, "Roboto Lt", "Segoe UI";
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

a {
    text-decoration: none;

    color: @color-primary-3;

    transition: color 0.25s ease;

    &:hover{
        color: @color-primary-4;
    }
}

nav {
    background-color: @color-primary-1;
    &.navbar {
        padding: 0 0 0 0;
    }

    .nav-item {
        transition: background 0.5s ease;
        background-image: linear-gradient(to bottom, @color-primary-2 50%, @color-primary-1 50%);
        background-size: 100% 200%;
        background-position: 0 100%;
        &:hover {
            background-position: 0 0;
        }
        padding: .5rem 1rem;
    }
    .navbar-brand {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
        margin:0 auto;
    }
    :not(.navbar-brand):not(.collapse) {
        z-index: 1;
    }
}

div.wallpaper {
    margin: 0 0 0 0;
    background-image: url('../img/campinas4.jpg');
    background-size: cover;
}

div#bemvindo {
    height: 100%;
    font-size: 80px;
    color: red;
}

.jumbotron.section {
    &:nth-of-type(even) {
        background-color: @color-secondary-2-0;
        color: @color-secondary-2-4;
    }
    &:nth-of-type(odd) {
        background-color: @color-primary-0;
        color: @color-primary-4;
    }
}
